#trailersSlider {
    position: relative;
}

#trailersSlider figure i {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
}

#trailersSlider figure img {
    height: 100%;
    transform: scale(2);
}

div#trailersSlider figure {
    position: relative;
    cursor: pointer;
    height: 260px;
    overflow: hidden;
}


#trailersSlider p {
    color: #fff;
}

.backDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    z-index: 15;

}

.movieModal {
    position: fixed;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

iframe#youtube-video {
    width: 100%;
    height: 100%;
}

.modal-container {
    width: 40%;
    height: 300px;
    background-color: #fff;
}


.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.video-container {
    position: relative;
}

video {
    max-width: 100%;
    max-height: 100%;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}