@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ubuntu+Condensed&display=swap');

body {
    background-color: #181818;

    font-family: 'Ubuntu Condensed', sans-serif;
}

.movieCard {
    height: 100vh;
    position: relative;
    cursor: pointer;
}

.movieCard img {
    height: 100%;
    object-fit: cover;
}

.caption {
    position: absolute;
    top: 0%;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(90deg, #181818 10%,
            hsla(0, 0%, 9%, .98) 20%,
            hsla(0, 0%, 9%, .97) 25%,
            hsla(0, 0%, 9%, .95) 35%,
            hsla(0, 0%, 9%, .94) 40%,
            hsla(0, 0%, 9%, .92) 45%,
            hsla(0, 0%, 9%, .9) 50%,
            hsla(0, 0%, 9%, .87) 55%,
            hsla(0, 0%, 9%, .82) 60%,
            hsla(0, 0%, 9%, .75) 65%,
            hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .55) 75%, hsla(0, 0%, 9%, .47) 80%,
            hsla(0, 0%, 9%, .25) 85%,
            hsla(0, 0%, 9%, .18) 90%,
            hsla(0, 0%, 9%, .13) 95%,
            hsla(0, 0%, 9%, 0));
    color: #fff;
}
.caption h3{
    font-family: 'Roboto', sans-serif !important;
}
.mainSlider .owl-prev,
.mainSlider .owl-next {
    position: absolute;
    top: 50%;
    font-size: 28px !important;
    color: #e50914  !important;
    background-color: transparent !important;
}

.mainSlider .owl-prev {
    left: 10px;
}

.mainSlider .owl-next {
    right: 10px;
}

.mainSlider .owl-dots {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    width: 100%;
}


.singleMovie {
    height: 100vh;
    width: 100%;
    position: relative;

    color: #fff;
}

.bgImg::before {
    content: '';
    width: 80%;
    height: 100%;
    background-image: linear-gradient(90deg, #181818 10%,
            hsla(0, 0%, 9%, .98) 20%,
            hsla(0, 0%, 9%, .97) 25%,
            hsla(0, 0%, 9%, .95) 35%,
            hsla(0, 0%, 9%, .94) 40%,
            hsla(0, 0%, 9%, .92) 45%,
            hsla(0, 0%, 9%, .9) 50%,
            hsla(0, 0%, 9%, .87) 55%,
            hsla(0, 0%, 9%, .82) 60%,
            hsla(0, 0%, 9%, .75) 65%,
            hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .55) 75%, hsla(0, 0%, 9%, .47) 80%,
            hsla(0, 0%, 9%, .25) 85%,
            hsla(0, 0%, 9%, .18) 90%,
            hsla(0, 0%, 9%, .13) 95%,
            hsla(0, 0%, 9%, 0));
    display: block;
}

.heroImg .bgImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    /* filter: blur(4px); */
}

.singleMovie .logo {
    width: 200px;
    margin-bottom: 50px;
}

.singleMovie figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: relative;
    height: 100%;
}

.singleMovie .title {
    margin-bottom: 30px;
}

.singleMovie .details {
    color: #a3a3a3;
    list-style: none;
    display: flex;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.singleMovie .details li {
    padding: 0 20px;
    position: relative;
}

.singleMovie .details li:first-child {
    padding-left: 0;
}

.singleMovie .details li:nth-child(2) span {
    border: 2px solid #a3a3a3;
    display: block;
    padding: 0 10px;
}

.singleMovie .details li:not(:first-child)::after {
    content: '';
    width: 1px;
    display: block;
    height: 80%;
    background-color: #a3a3a3;
    position: absolute;
    top: 10%;
    left: 0;
}

.staring strong { 
    color: #a3a3a3;
}

.goBacktoHomePage {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 48px;
    color: red;
    z-index: 9;
    cursor: pointer;
}